body {
  background-color: hsl(214, 47%, 23%);
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
body,
html {
  height: 100%;
}
.section-1-text {
  border: 3px solid grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 60%;
  margin: auto;
  padding: 30px;
  margin-top: 1%;

  max-height: 20%;
}

.section-1-score {
  width: 130px;
  height: 100px;
  background-color: white;

  color: hsl(229, 25%, 31%);

  text-align: center;

  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  position: absolute;
  top: 5%;
  right: 23vw;
  border-bottom-right-radius: 10px;
}
.main-text-1 {
  color: hsl(229, 25%, 31%);
  font-weight: 500;
  font-size: 20px;
}
.score-number {
  font-size: 40px;
  font-weight: 600;
}
.text:nth-child(2) {
  position: relative;
  bottom: 25px;
}
.text:nth-child(3) {
  position: relative;
  bottom: 50px;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vw;
  cursor: pointer;
}
.inner-circle {
  background-color: white;

  padding: 40px;
  border-radius: 50%;
  box-shadow: 0px 6px 5px #888 inset;
}
.outer-circle1 {
  background-color: red;
  padding: 20px;
  border-radius: 50%;
  margin-top: -30%;
}
.outer-circle2 {
  background-color: blue;
  padding: 20px;
  border-radius: 50%;
}
.outer-circle3 {
  background-color: yellow;
  padding: 20px;
  border-radius: 50%;
  margin-top: -30%;
  opacity: 1;
}
.bg-triangle {
  position: absolute;
  margin-top: -5%;

  z-index: 1;
  opacity: 0.1;
}
.rules {
  color: white;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid white;
  padding: 10px 30px;
  position: absolute;
  font-weight: 500;
  letter-spacing: 2px;
  right: 3%;
  bottom: 5%;
  cursor: pointer;
}
.rules:hover {
  background-color: white;
  color: hsl(229, 25%, 31%);
  transition: background-color 0.5s, color 0.5s;
}
.outer-circle1:hover {
  box-shadow: 0 0 0 20px grey;
  transition: box-shadow 0.3s ease-in-out;
}
.outer-circle2:hover {
  box-shadow: 0 0 0 20px grey;
  transition: box-shadow 0.3s ease-in-out;
}
.outer-circle3:hover {
  box-shadow: 0 0 0 20px grey;
  transition: box-shadow 0.3s ease-in-out;
}
.rules-box{
  background-color:white;
  max-width:30%;
  max-height:50%;
 

}
.rules-outside{
  display:flex;
  justify-content:center;
 margin:auto;
 margin-top:-25%;

}